:root {
  --color: #7f31e6;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* ======================== */

#mySVG {
  width: fit-content;
  height: 38px;
}

/* ===== remove cart item xmark ====== */

.trci:hover .rci {
  opacity: 0.8;
}

.rci {
  opacity: 0.4;
}

/* ======================== */

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.3s ease;
}

.navScroll {
  background: rgba(252, 248, 255, 0.952);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(128, 41, 242);
}

.nav .logo {
  margin-left: 8px;
  font-size: 1.2rem;
}

.nav-items {
  position: relative;
  left: -20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-items li {
  font-size: 1.2rem;
  margin: 5px 10px;
}

.nav .logo a,
.nav-items li a {
  text-decoration: none;
  color: var(--color);
}

.cartLogo i {
  font-size: 1.5rem;
  position: relative;
}

.cartLogo i:hover {
  animation: bounce 1s ease infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.cartLogo #cart-badge {
  font-size: 9px;
  position: fixed;
  right: 7px;
  top: 1px;
  background-color: var(--color);
  color: white;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

/* =================== searchbar  ================ */

.searchbar {
  margin: 10px 0 5px 0;
}

.searchbar .dropdown .dropdown-menu {
  width: 100%;
  border: 2px solid #8a3bf1;
}

.searchbar .dropdown .dropdown-menu .dropdown-item:hover {
  color: white;
  background-color: #924ced;
}

.searchbar .dropdown .dropdownButton {
  background-color: var(--color);
  color: #fff;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border: none;
}

.searchForm .searchInput {
  width: 500px;
  padding: 5px 10px;
  border: 1px solid rgb(128, 41, 242);
}

.searchForm .searchInput:focus {
  outline: none;
}

.searchForm .searchBtn {
  background-color: #924ced;
  border: none;
  color: white;
  font-size: 14px;
  width: 80px;
  transition: all 0.5s ease;
}

.searchForm .searchBtn:hover {
  background-color: #a366f2;
}

/* =============== slider =========== */

.slide {
  margin-top: 92px;
  height: fit-content;
  overflow: hidden;
}

.slider-content {
  position: absolute;
  top: 130px;
  margin-left: 210px;
  width: 400px;
  color: #fff;
}

/* ================== category div =========== */

.category-header {
  padding: 5px;
  background-image: linear-gradient(147deg, #a366f2 0%, #792be5 74%);
  color: #fff;
  text-align: center;
}

.category-container .categories {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 3px solid rgb(157, 72, 255);
}

.categories .card {
  height: 165px;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border-radius: 50%;
  padding: 15px;
  border: none;
  background-image: linear-gradient(rgba(128, 0, 128, 0.132), rgba(0, 0, 255, 0.148));
  color: #792be5;
  margin: 7px;
}

.categories .card img {
  object-fit: contain;
  aspect-ratio: 3/3;
  width: 100px;
}

.categories .card:hover {
  border-radius: 30%;
}

/* =================== Top products =============== */

.topproduct-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topproducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: inherit;
}

.topproducts .card {
  border: 2px solid var(--color);
  width: 300px;
  padding: 10px;
  margin: 10px;
}

.image_container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  border-radius: 0.5rem;
}

.image_container .image {
  object-fit: contain;
  width: 150px;
  height: fit-content;
  padding: 20px;
}

.title {
  overflow: clip;
  width: 100%;
  height: fit-content;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin-bottom: 10px;
}

.action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}

.price {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--light);
}

.cart-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  width: 130px;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light);
  text-wrap: nowrap;
  border: 2px solid hsl(262, 83%, 58%);
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.cart-button:hover {
  background-color: hsla(262, 83%, 58%, 0.952);
  color: #fff;
}

.cart-button .cart-icon {
  width: 1rem;
}

/* ========================== added to cart snackbar =================== */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--color);
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 150px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 150px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 150px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 150px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 150px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}


/* ========================== banner ====================== */

.banner {
  background-image: linear-gradient(147deg, #8e4ef6 35%, #e52bcc 74%);
  border-radius: 15px;
  padding: 20px;
  margin: 25px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.banner .banner-content {
  position: absolute;
  top: 70px;
  margin-left: 25px;
  color: #fff;
  transition: all 0.5s ease;
}

.banner .banner-content h3,
h6,
.banner-button {
  margin: 15px;
}

.banner-button {
  width: 170px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  background-color: #00aced;
  transition: all 0.5s ease;
}

.banner-button:hover {
  background-color: #15a0d3;
}

.banner .banner1,
.banner2,
img {
  overflow: hidden;
  transition: all 0.5s ease;
}

.banner .banner1:hover .banner-content {
  margin-top: 20px;
}

.banner .banner2:hover .banner-content {
  margin-top: 20px;
}

.banner .banner1:hover > img {
  transform: scale(1.1);
}

.banner .banner2:hover > img {
  transform: scale(1.1);
}

/* =============================== brands =================== */

.brand {
  height: fit-content;
  width: 100%;
  margin: 35px 0 45px 0;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px;
  background: #ededed;
  box-shadow: inset 5px 5px 11px #cecece,
    inset -5px -5px 11px #fffcfc;
}

.brand .brand-item {
  height: 150px;
  width: 200px;
  padding: 15px;
}

.brand .brand-item div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.brand .brand-item div img {
  width: 130px;
  object-fit: contain;
}

/* =============================== checkout-page =========================== */

.priceTable {
  margin-top: 100px;
}

.priceTable #checkout_table {
  border: 2px solid var(--color);
}

.priceTable #checkout_table thead th {
  color: #fff;
  background-color: var(--color);
}

.priceTable #checkout_table #checkout tr td {
  background-color: transparent;
}

.orderForm {
  margin-bottom: 70px;
}

.orderForm form {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 4px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #000;
}

#order_btn {
  cursor: pointer;
  padding: 0.5rem;
  width: 150px;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: var(--light);
  text-wrap: nowrap;
  border: 2px solid hsl(262, 83%, 58%);
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

#order_btn:hover {
  background-color: hsla(262, 83%, 58%, 0.952);
  color: #fff;
}

/* ======================== product shop =================== */

.shop {
  height: fit-content;
  width: 100%;
  display: flex;
  max-width: 1000px;
  margin: auto;
  margin-top: 90px;
}

.shop .product-show {
  width: 100%;
  height: fit-content;
  gap: 25px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.shop .product-show .card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 20rem;
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid #8021fc;
}

/* ================================ product.html ================== */

.p-container {
  display: flex;
  width: 100%;
  min-height: 70vh;
  flex-direction: column;
  margin-top: 100px;
}

.p-filter .filter-card {
  border: 2px solid var(--color);
  height: fit-content;
  width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  margin-bottom: 25px;
  padding: 10px;
}

.p-filter .filter-card .filter-header {
  height: fit-content;
}

.p-filter .filter-card .filter-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.p-filter .filter-card .filter-body a {
  text-decoration: none;
}

.p-filter .filter-card .filter-body a div {
  border: 1px solid var(--color);
  border-radius: 10px;
  padding: 3px 15px;
  cursor: pointer;
  color: var(--color);
  padding-left: 0 12px;
  margin: 10px 5px;
  transition: all 0.3s ease;
}

.p-filter .filter-card .filter-body a div:hover {
  background-color: #792be5;
  color: #fff;
}

.p-container .p-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.p-container .p-show .card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 20rem;
  height: 280px;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid #8021fc;
}

.p-show .product-empty {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-show .product-empty p {
  color: var(--color);
  font-size: 22px;
}

/* ======================= paginator-div ================== */

.paginator-div {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.paginator-div .pagination a {
  color: var(--color);
  margin: 5px;
  border-radius: 10px;
  border: 1px solid var(--color);
}

.paginator-div .pagination a:hover,
.paginator-div .pagination a:focus,
.paginator-div .pagination a:active {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #792be5;
  color: white;
}

.active_page {
  background-color: #792be5 !important;
  color: white !important;
}

/* ================================ detail page ========================= */

.detail-container {
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  margin-top: 70px;
}

.detail-card {
  display: flex;
  justify-content: space-around;
}

.detail-image {
  position: relative;
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.detail-image img {
  height: 350px;
  object-fit: contain;
}

.detail-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}

/* ============================= footer ============================= */

.site-footer {
  background-color: #cfbee67d;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #413f42;
}

.site-footer hr {
  opacity: 0.8;
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #7f14dcde;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #413f42;
  text-decoration: none;
}

.site-footer a:hover {
  color: #7f14dcde;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #413f42;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #7f14dcde;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #7f14dc51;
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #7f14dcde;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}