<section class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify ms-3">We have a vast inventory of products ranging from apparel to cosmetics to home utility and kitchen products and more. With over 50 lakh products and 650+ product categories, Meesho is sure to have everything you need. In our latest collections, you will find all the popular items at an affordable price, so you can be confident you're getting the best deal. Whether you're in the market for new clothes, accessories, or just some daily-use items for home, Meesho has what you need.</p>
        </div>

        <div class="col-xs-6 col-md-3 ps-5">
          <h6>Categories</h6>
          <ul class="footer-links ms-3">
            <li><a href="/">Electronics and Accessories</a></li>
            <li><a href="/">Health, Fitness & Sports</a></li>
            <li><a href="/">Home Utility and Essentials</a></li>
            <li><a href="/">Kitchen Products</a></li>
            <li><a href="/">Office Supplies and Stationery</a></li>
            <li><a href="/">Jewellery and Footwear</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 ps-5">
          <h6>Quick Links</h6>
          <ul class="footer-links ms-3">
            <li><a href="/">About Us</a></li>
            <li><a href="/">Contact Us</a></li>
            <li><a href="/">Contribute</a></li>
            <li><a href="/">Privacy Policy</a></li>
            <li><a href="/">Sitemap</a></li>
            <li><a href="/">Payments</a></li>
          </ul>
        </div>
      </div>
      <hr styl>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
            <a href="/" style="color: #7f14dcde">ShopCart</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="/"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="/"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="/"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</section>